In [5]:
import pandas as pd
in1 = "input\Italy_ProvincesID.csv"
in2 = "input\Italy_Provinces_Population.csv"
df1 = pd.read_csv(in1)
print(df1.head())
df2 = pd.read_csv(in2)
print(df2.head())

   index  COD_PROV SIGLA   DEN_PCM
0      0         1    TO    Torino
1      1         2    VC  Vercelli
2      2         3    NO    Novara
3      3         4    CN     Cuneo
4      4         5    AT      Asti
  Type     Province  ... Comuni                        President
0    F    Agrigento  ...     43  Marcello Maisano (commissioner)
1    O  Alessandria  ...    188     Gianfranco Lorenzo Baldi (R)
2    O       Ancona  ...     47                Liana Serrani (L)
3    D        Aosta  ...     74                                —
4    O       Arezzo  ...     36                Roberto Vasai (L)

[5 rows x 11 columns]

In [25]:
df3 = pd.merge(df1,df2,how="inner", left_on="SIGLA",right_on="Code").rename(columns= {'Population (2019)[3]':'POPULATION'})
df3 = df3[['index','COD_PROV','SIGLA','DEN_PCM','POPULATION']]
df3['POPULATION'] = df3['POPULATION'].replace({",":""}, regex = True)
# print(df3.head())
df3['POPULATION'] = df3['POPULATION'].astype(int)
df3.columns = ['ID','prov_istat_code','SIGLA','prov_name','POPULATION']
df3.to_csv("input\Italy_ProvincesID_Population.csv",index=False)
# list(df3.columns)

In [13]:
df3

     index  COD_PROV SIGLA                DEN_PCM POPULATION
0        0         1    TO                 Torino  2,259,523
1        1         2    VC               Vercelli    170,911
2        2         3    NO                 Novara    369,018
3        3         4    CN                  Cuneo    587,089
4        4         5    AT                   Asti    214,638
..     ...       ...   ...                    ...        ...
102    102       103    VB   Verbano-Cusio-Ossola    158,349
103    103       108    MB  Monza e della Brianza    873,935
104    104       109    FM                  Fermo    173,800
105    105       110    BT  Barletta-Andria-Trani    390,011
106    106       111    SU           Sud Sardegna    350,725

[107 rows x 5 columns]